In [12]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
from __future__ import unicode_literals
import requests
from bs4 import BeautifulSoup as soup
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [13]:
df = pd.read_excel('ilovepdf_merged.xlsx')

In [14]:
df = df.iloc[:,:-2]

In [15]:
col_name = list(df.loc[4,:])

In [16]:
col_name[1]='Area'
col_name[2]='Sex'

In [17]:
df.columns = col_name

In [18]:
df = df[df['Code']!='選區號碼']
df = df[df['Code']!='Code']
df = df[df['Area']!='選區']

In [19]:
df.head()

,Code,Area,Sex,18-20,21-25,26-30,31-35,36-40,41-45,46-50,51-55,56-60,61-65,66-70,71+
2,Constituency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Constituency,Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,男,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,36,104,108,122,165,188,201,214,224,219,194,386
7,NaN,中環,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
num = df[(df['18-20'].notnull())&(df['18-20']!='18-20')]

In [21]:
num['Total'] = num.apply(lambda x: x[3:].sum(),axis=1)
num = num[num['Total']<20000]
num.drop('Total',axis=1,inplace=True)

In [22]:
num.index = range(len(num))

In [23]:
num['Sex'] = pd.Series(['M','F']*(int(len(num)/2)))

In [24]:
k = pd.Series(df['Code'].unique())
k = k[k.apply(lambda x: True if type(x)==str else False)]
k = k[k.apply(lambda x: True if len(x)==3 else False)]
n = []
for i in k:
    n.append(i)
    n.append(i)
num['Code'] = pd.Series(n)

In [25]:
k = pd.Series(df['Area'].unique())
k = k[k.notnull()]
k = k[(k!='總計') & (k!='Total') & (k!='Constituency') & (k!='選區') & (k!='Tai Hang Sai')]
k = k.apply(lambda x: x+' Tai Hang Sai' if x=='Nam Shan, Tai Hang Tung &' else x)
k.index = range(len(k))
for i in range(int(len(k)/2)):
    k[i*2]=k[i*2+1]
num['Area'] = k

In [26]:
district = dict(A = 'Central & Western',
                B = 'Wan Chai',
               C = 'Eastern',
               D = 'Southern',
               E = 'Yau Tsim Mong',
               F = 'Sham Shui Po',
               G = 'Kowloon City',
               H = 'Wong Tai Sin',
               J = 'Kwun Tong',
               K = 'Tsuen Wan',
               L = 'Tuen Mun',
               M = 'Yuen Long',
               N = 'North',
               P = 'Tai Po',
               Q = 'Sai Kung',
               R = 'Sha Tin', 
               S = 'Kwai Tsing',
               T = 'Islands')

In [27]:
num['District'] = num['Code'].apply(lambda x: district[x[0]])

In [28]:
def main_dist(code):
    area_id = code[0]
    if area_id in list('ABCD'):
        out = 'HK Island'
    elif area_id in list('EFG'):
        out = 'Kowloon West'
    elif area_id in list('HJ'):
        out = 'Kowloon East'
    elif area_id in list('KLMST'):
        out = 'New Territories West'
    else:
        out = 'New Territories East'
    return out

num['Main_District'] = num['Code'].apply(main_dist)

In [29]:
num['stat_id']=num.index

In [30]:
num.columns = ['Code','Area', 'Sex', 'age18_20', 'age21_25', 'age26_30', 'age31_35',
           'age36_40','age41_45', 'age46_50', 'age51_55', 'age56_60', 'age61_65', 'age66_70', 'age71_','District','Main_District','stat_id']

In [31]:
num = num[['stat_id','Code','Main_District', 'District', 'Area', 'Sex', 'age18_20', 'age21_25', 'age26_30', 'age31_35',
           'age36_40','age41_45', 'age46_50', 'age51_55', 'age56_60', 'age61_65', 'age66_70', 'age71_']]

In [32]:
num.head()

,stat_id,Code,Main_District,District,Area,Sex,age18_20,age21_25,age26_30,age31_35,age36_40,age41_45,age46_50,age51_55,age56_60,age61_65,age66_70,age71_
0,0,A01,HK Island,Central & Western,Chung Wan,M,36,104,108,122,165,188,201,214,224,219,194,386
1,1,A01,HK Island,Central & Western,Chung Wan,F,40,99,112,153,156,174,195,229,249,233,209,367
2,2,A02,HK Island,Central & Western,Mid Levels East,M,59,178,177,183,269,238,302,301,387,395,281,482
3,3,A02,HK Island,Central & Western,Mid Levels East,F,63,148,183,205,253,280,343,370,439,379,268,525
4,4,A03,HK Island,Central & Western,Castle Road,M,79,183,207,193,252,311,345,392,464,412,325,511

In [33]:
num[num['Code'].apply(lambda x: x[0]=='L')]

,stat_id,Code,Main_District,District,Area,Sex,age18_20,age21_25,age26_30,age31_35,age36_40,age41_45,age46_50,age51_55,age56_60,age61_65,age66_70,age71_
468,468,L01,New Territories West,Tuen Mun,Tuen Mun Town Centre,M,125,310,402,406,526,440,342,399,528,419,279,329
469,469,L01,New Territories West,Tuen Mun,Tuen Mun Town Centre,F,104,280,396,471,503,441,432,478,515,387,218,328
470,470,L02,New Territories West,Tuen Mun,Siu Chi,M,148,407,529,498,541,439,330,400,702,646,550,623
471,471,L02,New Territories West,Tuen Mun,Siu Chi,F,150,417,516,545,556,438,370,526,777,728,455,577
472,472,L03,New Territories West,Tuen Mun,On Ting,M,107,327,398,292,409,471,226,314,420,503,686,911
473,473,L03,New Territories West,Tuen Mun,On Ting,F,107,313,388,261,443,405,320,416,534,835,864,755
474,474,L04,New Territories West,Tuen Mun,Siu Tsui,M,158,362,445,436,694,703,411,571,668,608,665,797
475,475,L04,New Territories West,Tuen Mun,Siu Tsui,F,123,379,401,405,685,685,542,628,747,801,747,688
476,476,L05,New Territories West,Tuen Mun,Yau Oi South,M,123,364,429,250,408,365,233,246,357,388,545,709
477,477,L05,New Territories West,Tuen Mun,Yau Oi South,F,139,360,375,246,328,327,305,363,434,593,670,637
478,478,L06,New Territories West,Tuen Mun,Yau Oi North,M,114,342,401,260,394,438,232,262,397,352,417,637
479,479,L06,New Territories West,Tuen Mun,Yau Oi North,F,127,360,380,270,417,399,292,380,404,531,556,420
480,480,L07,New Territories West,Tuen Mun,Tsui Hing,M,158,392,371,381,460,515,457,583,630,415,300,329
481,481,L07,New Territories West,Tuen Mun,Tsui Hing,F,170,380,386,399,525,544,541,645,625,373,303,306
482,482,L08,New Territories West,Tuen Mun,Shan King,M,117,372,472,485,670,345,259,273,474,608,592,811
483,483,L08,New Territories West,Tuen Mun,Shan King,F,113,343,419,424,654,374,326,400,649,893,613,593
484,484,L09,New Territories West,Tuen Mun,King Hing,M,105,278,345,233,271,294,236,279,383,441,414,894
485,485,L09,New Territories West,Tuen Mun,King Hing,F,87,251,272,197,215,291,306,391,493,466,551,922
486,486,L10,New Territories West,Tuen Mun,Hing Tsak,M,107,356,519,382,268,325,222,350,709,555,507,768
487,487,L10,New Territories West,Tuen Mun,Hing Tsak,F,86,325,463,315,262,304,319,535,763,658,597,691
488,488,L11,New Territories West,Tuen Mun,San Hui,M,103,289,399,368,360,274,241,305,462,454,319,463
489,489,L11,New Territories West,Tuen Mun,San Hui,F,97,323,395,355,311,251,265,390,497,452,274,410
490,490,L12,New Territories West,Tuen Mun,So Kwun Wat,M,69,124,142,168,163,195,198,251,262,237,152,161
491,491,L12,New Territories West,Tuen Mun,So Kwun Wat,F,68,141,139,158,182,207,228,247,244,199,111,134
492,492,L13,New Territories West,Tuen Mun,Sam Shing,M,112,236,293,206,259,339,283,350,426,406,317,461
493,493,L13,New Territories West,Tuen Mun,Sam Shing,F,102,228,267,219,253,329,371,381,416,366,345,373
494,494,L14,New Territories West,Tuen Mun,Hanford,M,122,237,285,269,297,401,346,417,489,407,305,352
495,495,L14,New Territories West,Tuen Mun,Hanford,F,112,279,296,305,344,465,396,468,487,405,266,272
496,496,L15,New Territories West,Tuen Mun,Yuet Wu,M,118,357,347,262,410,413,305,543,514,426,354,428
497,497,L15,New Territories West,Tuen Mun,Yuet Wu,F,121,366,308,262,411,386,421,575,468,528,405,371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,500,L17,New Territories West,Tuen Mun,Wu King,M,132,335,386,257,398,309,231,254,322,397,468,586
501,501,L17,New Territories West,Tuen Mun,Wu King,F,129,370,374,223,354,269,276,341,408,598,513,499
502,502,L18,New Territories West,Tuen Mun,Butterfly,M,97,297,343,360,482,280,203,288,440,666,626,800
503,503,L18,New Territories West,Tuen Mun,Butterfly,F,116,261,308,325,411,316,301,393,705,888,569,759
504,504,L19,New Territories West,Tuen Mun,Fu Sun,M,171,494,452,404,556,592,517,609,732,535,473,585
505,505,L19,New Territories West,Tuen Mun,Fu Sun,F,184,417,388,379,528,649,626,671,690,594,488,498
506,506,L20,New Territories West,Tuen Mun,Lok Tsui,M,101,275,358,288,427,404,307,375,488,480,342,432
507,507,L20,New Territories West,Tuen Mun,Lok Tsui,F,104,268,302,327,429,364,372,430,494,451,318,433
508,508,L21,New Territories West,Tuen Mun,Lung Mun,M,176,446,378,290,436,413,449,529,572,481,383,534
509,509,L21,New Territories West,Tuen Mun,Lung Mun,F,153,395,331,315,411,517,559,570,512,480,440,500
510,510,L22,New Territories West,Tuen Mun,San King,M,91,279,473,624,417,267,169,265,622,679,440,514
511,511,L22,New Territories West,Tuen Mun,San King,F,91,276,444,552,365,240,237,482,825,720,388,450
512,512,L23,New Territories West,Tuen Mun,Leung King,M,74,287,693,593,447,239,154,242,567,766,499,508
513,513,L23,New Territories West,Tuen Mun,Leung King,F,57,260,607,525,411,202,204,474,886,860,409,402
514,514,L24,New Territories West,Tuen Mun,Tin King,M,87,321,695,587,502,319,155,287,716,780,572,565
515,515,L24,New Territories West,Tuen Mun,Tin King,F,92,307,618,558,453,317,225,597,992,878,499,419
516,516,L25,New Territories West,Tuen Mun,Po Tin,M,67,149,168,214,281,339,392,463,487,524,427,621
517,517,L25,New Territories West,Tuen Mun,Po Tin,F,81,141,175,178,227,314,396,382,333,315,275,378
518,518,L26,New Territories West,Tuen Mun,Kin Sang,M,94,309,557,607,507,353,222,373,664,642,483,477
519,519,L26,New Territories West,Tuen Mun,Kin Sang,F,85,291,567,643,442,338,288,592,862,684,374,420
520,520,L27,New Territories West,Tuen Mun,Siu Hong,M,65,182,326,481,517,282,190,208,357,648,547,490
521,521,L27,New Territories West,Tuen Mun,Siu Hong,F,67,164,270,457,527,272,223,261,648,735,451,529
522,522,L28,New Territories West,Tuen Mun,Yan Tin,M,123,227,203,256,352,307,259,279,452,297,204,256
523,523,L28,New Territories West,Tuen Mun,Yan Tin,F,120,247,240,303,437,385,344,265,249,205,167,239
524,524,L29,New Territories West,Tuen Mun,Tuen Mun Rural,M,137,322,396,488,476,424,355,398,524,412,306,404
525,525,L29,New Territories West,Tuen Mun,Tuen Mun Rural,F,142,307,382,401,471,442,361,445,518,435,258,344
526,526,L30,New Territories West,Tuen Mun,Fu Tai,M,213,712,941,634,387,325,324,406,730,769,477,611
527,527,L30,New Territories West,Tuen Mun,Fu Tai,F,247,746,910,567,378,351,502,747,848,725,410,409
528,528,L31,New Territories West,Tuen Mun,Prime View,M,126,308,442,556,722,551,438,438,584,557,391,354
529,529,L31,New Territories West,Tuen Mun,Prime View,F,87,302,440,600,717,532,415,483,686,541,301,338

In [34]:
import sqlite3 as sql3

In [35]:
conn = sql3.connect('election.db')

In [36]:
num.to_sql('voters_stat',conn,if_exists='replace',index=False)

In [37]:
c = conn.cursor

In [38]:
url = 'https://www.elections.gov.hk/dc2019/eng/results_hk.html'
html = requests.get(url).text
scrap = soup(html,'html.parser')

In [39]:
col = [i.text for i in scrap.find('table').find_all('th')]

In [40]:
data = []
for row in scrap.find('table').find_all('tr')[1:]:
    el = [i.text for i in row.find_all('td')]
    if len(el)==5:
        app = el
    else:
         app  = data[-1][:2]+el
    data.append(app)

In [41]:
count = 0
for i in data:
    if len(i)!=5:
        count+=1
count

0

In [42]:
vote = pd.DataFrame(data,columns=col)

In [43]:
def vote_to_num(str_num):
    out = ''
    for i in str_num:
        if (i!=',') & (i!='*'):
            out+=i
    out = int(out)
    return out

vote['No. of Votes Received'] = vote['No. of Votes Received'].apply(vote_to_num)

In [44]:
vote['result_id'] = vote.index

In [45]:
vote.columns = ['Code', 'Constituency', 'Candidate_No.',
       'Candidate_Name', 'Votes_No.', 'result_id']
vote = vote[['result_id', 'Code', 'Constituency', 'Candidate_No.',
       'Candidate_Name', 'Votes_No.']]

def find_brac(name):
    key=0
    for i in range(len(name)):
        if name[i]=='(':
            key=i
    if key==0:
        return name
    else:
        return name[:key]

vote['Candidate_Name'] = vote['Candidate_Name'].apply(find_brac)
vote['Candidate_Name'][637] = 'SZE TO POK MAN'
vote['Candidate_Name'][997] = 'HUANG SI HONG'

In [46]:
vote.head()

   result_id Code     Constituency Candidate_No.  Candidate_Name  Votes_No.
0          0  A01        CHUNG WAN             1    HUI CHI FUNG       1618
1          1  A01        CHUNG WAN             2  WONG CHUNG WAI       1319
2          2  A02  MID LEVELS EAST             1     MOK KAM SUM       1993
3          3  A02  MID LEVELS EAST             2     NG SIU HONG       2672
4          4  A03      CASTLE ROAD             1  CHENG LAI KING       2669

In [47]:
vote.to_sql('result',conn,if_exists='replace',index=False)

In [48]:
candidate = pd.read_csv('vote4hkpublic-1999-2019.csv')
candidate = candidate[candidate['year']==2019]
def camp_def(string):
    if string=='民主':
        return 'DEM'
    elif string=='建制':
        return 'BEJ'
    else:
        return 'IND'
    
candidate['camp'] = candidate['camp'].apply(camp_def)
candidate['name_en'] = candidate['name_en'].apply(lambda x: x.upper().replace('-',' '))
candidate.drop(4400,inplace=True)
candidate.drop(4401,inplace=True)

In [50]:
candidate.head(3)

,id,year,person_id,name_zh,name_en,election_type,cacode,constituency_id,age,camp,...,is_won,fb_id,ig_id,occupation_zh,occupation_en,political_affiliation_zh,political_affiliation_en,electoral_message_zh,electoral_message_en,email_or_website
4402,4403,2019,1400,梁福元,LEUNG FUK YUEN,by-election,M10,1872,61.0,BEJ,...,True,n/a,NaN,商人,NaN,NaN,NaN,NaN,NaN,NaN
4403,4404,2019,2443,文家駒,MAN KA KOY,by-election,M32,1894,34.0,IND,...,True,mankakoy,NaN,花式跳繩教練,NaN,獨立候選人,NaN,NaN,NaN,NaN
4404,4405,2019,2453,文嘉豪,MAN KA HO DONALD,by-election,M32,1894,42.0,IND,...,False,n/a,NaN,註冊外國律師,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
candidate.to_sql('candidate',conn,if_exists='replace',index=False)

In [52]:
rate = pd.read_csv('vote_rate.csv',index_col=None)
rate['Electoral Size'] = rate['Electoral Size'].apply(vote_to_num)
rate['Aggregate Voter Turnout'] = rate['Aggregate Voter Turnout'].apply(vote_to_num)
rate['rate_id'] = rate.index

In [53]:
rate.columns =['district', 'electoral_size', 'aggregate_voter_turnout',
       'turnout_rate', 'rate_id']
rate = rate[['rate_id', 'district', 'electoral_size', 'aggregate_voter_turnout',
       'turnout_rate']]

In [54]:
rate.head()

,rate_id,district,electoral_size,aggregate_voter_turnout,turnout_rate
0,0,Central & Western,110483,77277,69.94
1,1,Wan Chai,74839,50846,67.94
2,2,Eastern,323725,233287,72.06
3,3,Southern,151994,107946,71.02
4,4,Yau Tsim Mong,129150,89115,69.00

In [55]:
rate.to_sql('vote_rate',conn,if_exists='replace',index=False)

In [56]:
conn.close()